---
import Marquees from '../components/Marquees';
import Layout from '../layouts/Layout.astro';
import NomorePicture from '../assets/NomorePicture.png';
import ThreeDEPicture from '../assets/3DEPicture.png';
import Veigarv2Picture from '../assets/Veigarv2Picture.png';
import ZonePicture from '../assets/ZonePicture.png';
---

<Layout title="Dante Castelao">
		<div class="start">
			<svg width="100%">
				<defs>
					<rect id="text-border" fill="#3F3F3F"></rect>
					<mask id="text_mask">
						<use x="0" y="0" xlink:href="#text-border" opacity="1"/>
					</mask>
				</defs>
				<text x="50%" y="50%" text-anchor="middle" fill="#121116" stroke="#fff" class="title2" dominant-baseline="middle" alignment-baseline="middle" opacity="0.15">// DANTE CASTELAO</text>
				<text x="50%" y="50%" text-anchor="middle" fill="#121116" class="title" dominant-baseline="middle" alignment-baseline="middle" opacity="1">// DANTE CASTELAO</text>
			</svg>				
		</div>
		<div class="marquees">
			<Marquees client:only/>
		</div>
		<div class="menu">
			<div class="active">
				All projects.
			</div>
			<div class="filters">
				UX-UI.
			</div>
			<div class="filters">
				Front-End.
			</div>
			<div class="filters">
				Back-End.
			</div>
			<div class="filters">
				Rebrands.
			</div>
		</div>
		<div class="grid">
			<a class="grid-item" href="">
				<img class="picture" src={NomorePicture.src} alt="Nomore Picture" />
			</a>
			<a class="grid-item" href="">
				<img class="picture" src={Veigarv2Picture.src} alt="VeigarV2 Picture" />
			</a>
			<a class="grid-item" href="">
				<img class="picture" src={ThreeDEPicture.src} alt="3DE Picture" />
			</a>
			<a class="grid-item" href="">
				<img class="picture" src={ThreeDEPicture.src} alt="3DE Picture" />
			</a>
			<a class="grid-item" href="">
				<img class="picture" src={ZonePicture.src} alt="Zone Picture" />
			</a>
		</div>
		<div class="light"/>
</Layout>

<script>
	const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
	const light = document.querySelector('.light');

	if (isSafari && light) {
		light.classList.add('safari');
	}

</script>

<style>
	.start {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.title {
		font-size: clamp(2rem, 8vw, 2rem);
		font-style: italic;
		font-weight: 900;
		text-align: center;
	}
	.title2 {
		font-size: clamp(2rem, 8vw, 2rem);
		font-style: italic;
		font-weight: 900;
		text-align: center;
		stroke-width: clamp(1px, 2vw, 6px);
	}
	.marquees {
		position: relative;
		margin-top: 10rem;
	}
	.light {
		position: absolute;
		bottom: -80%;
		left: 50%;
		background: linear-gradient(89deg, #8952E0 17.26%, #4A86E8 41.05%, #CA4AED 64.84%);
		filter: blur(350px);
		width: 80%;
		height: 80%;
		animation: light 5s infinite linear;
		margin-left: -40%;
	}
	.safari {
		transform: translate3d(0, 0, 0);
	}
	.menu {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 2rem;
		background-color: rgba(255, 255, 255, 0.04);
		padding-top: 2rem;
		padding-bottom: 2rem;
		color: rgba(255, 255, 255, 0.15);
		gap: 1rem;
		margin-top: 10rem;
		margin-left: 4rem;
		margin-right: 4rem;
		font-size: 1.4rem;
		font-weight: 700;
	}
	.active {
		color: rgba(255, 255, 255, 1);
	}
	.grid {
		position: relative;
        display: grid;
		grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
		margin-left: 4rem;
		margin-right: 4rem;
		margin-top: 4rem;
		z-index: 2;
		padding-bottom: 4rem;
    }
    .grid-item {
        background-color: #f0f0f0;
        text-align: center;
    }
	.picture {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
    .grid-item:nth-child(-n+2) {
		grid-column: span 3;
    }
    .grid-item:nth-child(n+3) {
		grid-column: span 2;
    }
	@media screen and (max-width: 800px){
		.filters {
			display: none;
		}
		.grid {
			grid-template-columns: repeat(2, 1fr);
			margin-left: 2rem;
			margin-right: 2rem;
			margin-top: 2rem;
			grid-gap: 15px;
		}
		.marquees {
			margin-top: unset;
		}
		.menu {
			margin-left: 2rem;
			margin-right: 2rem;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.light {
			position: absolute;
			width: 100%;
			bottom: -100%;
			height: 150%;
			margin-left: 0;
			left: 0;
			filter: blur(250px);
		}
	}
</style>